body{
    background-color: #17181f;
    color: #ddd;
}

*{
    box-sizing: border-box;
}

main{
    max-width: 300px;
    margin: 20px auto;
}

form{
    border: 3px solid #30313D;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

form input[type="text"]{
    background: none;
    color: white;
    border: 0;
    padding: 0 8px;
    display: block;
    width: 100%;
}

form button{
    background-color: #61DAFB;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

div.task{
    background-color: #30313D;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
    transition: opacity .3s linear;
    align-items: center;
}

div.task svg{
    height: 20px;
    margin-right: 7px;
    fill: #61DAFB;
}

div.task.done{
    opacity: 0.5;
    /* text-decoration: line-through; */
}
div.task span{
    position: relative;
}
div.task-name{
    flex-grow: 1;
}

div.checkbox{
    display: flex;
    align-items: center;
}

div.task span::before{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    top: 10px;
    transition: width .3s linear;
}

button.delete-task{
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

button.delete-task svg{
    fill: #aaa;
}

div.task.done span::before{
    width: 100%;
}

h1, h2{
    text-align: center;
}